@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.add-icon{
  cursor: pointer;
  text-align: center;
  padding: 2px 2px 4px 2px;
}
.form-container{
  padding: 24px;
  width: 100%;
  
}
.errors{
  color: crimson;
}
.example-form {
  min-width: 150px;
  max-width: 100px;
  width: 100%;
  margin: 12px 6px 6px 26px;
  
}

.example-full-width {
  width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

