<!-- <ng-container>
    <table class="table">
        <ng-container >
        <tr>
          <th>Candidate</th>
          <mat-divider></mat-divider>
          <b></b>
          <th>Employee</th>
          <mat-divider ></mat-divider>
          <b></b>
          <th>Department</th>
          <mat-divider></mat-divider>
          </tr>
        </ng-container>
        <mat-divider></mat-divider>
        <tr *ngFor="let emp of empData">
          
          <mat-divider></mat-divider>
          <td >{{ emp.dept}}</td>
          <mat-divider></mat-divider>
          <td><mat-chip color="primary">{{ (emp.dept) }}</mat-chip></td>
          <mat-divider></mat-divider>
          <mat-icon class="trash-icon" color="warn" fontIcon="delete" (click)="deleteData(emp)"></mat-icon>
        </tr>
      </table> -->
<mat-card>
    <mat-card-content class="detail-card">Emloyee Information Details<mat-icon class="list-icon">assignment</mat-icon></mat-card-content>
</mat-card>
<ng-container class="top">
    <table class="content-table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Employee</th>
                <th>Department</th>
                
                <th>Salary</th>
                <th>Active</th>
                <th></th>
                <th><mat-icon>more_vert</mat-icon></th>
            </tr>
        </thead>
        <tbody *ngFor="let emp of empData">
            <tr>
                <td>{{emp.company}}</td>
                
                <td>{{ emp.employee }}</td>
                <td>{{emp.dept}}</td>
               
                <td><mat-chip color="primary">{{ emp.salary }}</mat-chip></td>
                <td><mat-slide-toggle color="indigo" (click)="toggleStatus(emp)" [(ngModel)]="emp.status" ></mat-slide-toggle></td>
                <td><mat-icon class="edit-icon" (click)="updateEmployee(emp)">edit</mat-icon></td>
                <td><mat-icon class="trash-icon" color="warn" fontIcon="delete" (click)="deleteData(emp)"></mat-icon></td>
            </tr>
        </tbody>
    </table>
</ng-container>
