.detail-card{
    background-color: #dddddd;
    text-align: center;
}
.trash-icon{
    cursor: pointer;
}
.edit-icon{
    cursor: pointer;
}
.list-icon{
   
    padding-top: 8px ;
    padding-right: 6px;
  }
.chip{
    color: white;
    background-color: crimson;
}

.table {
    margin: auto;
    display: table;
    min-width: 100%;
   margin: 20px auto; 
   text-align: left;
   justify-content: space-around;
   padding:12px 15px ;
   
}
.content-table{
   border-collapse: collapse; 
   margin: 25px 20px auto ;
   font-size: 0.9em;
   min-width: 400px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   
}
.content-table thead tr{
    background-color:#3f51b5;
    color: white;
    text-align: left;
}
.content-table th,
.content-table td{
    padding:12px 15px ;
}
.content-table tbody tr{
  border-bottom: 1px solid #dddddd;  
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #3f51b5;
}